<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.know.dao.AccessDao">
    <select id="countNumberByTime" resultType="java.util.Map">
        SELECT HOUR(a.create_time)as hour,
        COUNT(*) as accessCount
        FROM access a
        GROUP BY HOUR(a.create_time)
        ORDER BY Hour(a.create_time);
    </select>
</mapper>